In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('movies.csv')
df = df.rename(columns={'Unnamed: 0': 'rank', 'movie_title': 'title', 'movie_year': 'year', 'movie_rating': 'rating'})
df = df.set_index('rank')
df.head()

                         title  year  rating
rank
1     The Shawshank Redemption  1994     9.2
2                The Godfather  1972     9.2
3              The Dark Knight  2008     9.0
4        The Godfather Part II  1974     9.0
5                 12 Angry Men  1957     9.0

In [10]:
df['year'].describe()

count     250.000000
mean     1986.360000
std        25.125356
min      1921.000000
25%      1966.250000
50%      1994.000000
75%      2006.000000
max      2022.000000
Name: year, dtype: float64